    <style>

        }
        .container {
            width: 90%;
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            color: #b22222;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: center;
        }
        th {
            background-color: #9C4B4F;
            color: white;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .category {
            font-weight: bold;
            color: #8b0000;
        }
    </style>
